* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  position: relative;
  display: flex;
  justify-content: center;
  color: #666;
  background: #f8f8f8;
}

a {
  text-decoration: none;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
}

div {
  overflow-x: hidden;
}
div aside {
  height: 100vh;
  width: 35%;
  left: 0;
  top: 0;
  padding: 124px 36px 0;
  background-image: url(/images/bg.jpg);
  background-position: top;
  background-size: cover;
  overflow: hidden;
  position: fixed;
  display: flex;
  justify-content: top;
  align-items: flex-end;
  flex-direction: column;
  text-align: right;
}
div aside a img {
  width: 120px;
  border-radius: 50%;
}
div aside h1 {
  margin-top: 24px;
  line-height: 1.4;
  color: #999;
}
div aside h1 strong {
  color: #ffffff;
}
div aside h4 {
  margin: 8px 0 0 0;
  color: #111;
  text-decoration: underline;
}
div aside h4 a {
  text-decoration: none;
  color: #111;
}
div aside div {
  width: 60px;
  height: 30px;
  margin: 0 -10px;
  font-size: 18px;
  display: flex;
  justify-content: end;
  align-items: center;
  position: absolute;
  bottom: 15%;
}
div aside div a {
  color: #777;
  margin-right: 12px;
  transition: ease-in-out 0.3s;
}
div aside div a:hover {
  color: #f8f8f8;
  transition: ease-in-out 0.3s;
}
div main {
  width: 100%;
  height: 100%;
}
div main section {
  width: 65%;
  height: auto;
  margin-left: 35%;
  padding: 124px 36px 0 36px;
  line-height: 1.7;
  color: #666;
  position: relative;
  overflow-x: hidden;
}
div main section h2 {
  line-height: 1.1;
  margin-bottom: 22px;
}
div main section .button-default {
  height: 60px;
  width: 180px;
  margin: 36px 0;
  background: rgb(234, 234, 234);
  border: 1px #555 solid;
  border-radius: 5px;
  font-size: 16px;
  transition: ease-in-out 0.3s;
}
div main section .button-default a {
  width: 100%;
  height: 100%;
  color: #666;
  transition: ease-in-out 0.3s;
}
div main section .button-default a:hover {
  color: black;
  transition: ease-in-out 0.3s;
}
div main section .button-default:hover {
  border: 1px solid rgb(0, 188, 13);
  background: #f6f6f6;
  color: #111;
  transition: ease-in-out 0.3s;
}
div main section::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #555;
  display: block;
}

.cards {
  width: 65%;
  margin-left: 35%;
  padding: 36px 36px 0;
}
.cards h2 {
  margin-bottom: 24px;
}
.cards .cards-div {
  width: 83%;
  height: auto;
  margin-left: -12px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}
.cards .cards-div .card-div-a {
  width: 285px;
  height: 150px;
  margin: 12px 12px 24px;
  border-radius: 8px;
  box-shadow: 0px 0px 0px 1px #666;
  background: transparent;
  display: flex;
  justify-content: center;
  position: relative;
  transition: ease-in-out 0.3s;
}
.cards .cards-div .card-div-a:hover {
  box-shadow: 0px 0px 0px 1px rgb(0, 188, 13);
  transition: ease-in-out 0.3s;
}
.cards .cards-div .card-div-a .cards-a {
  width: 100%;
  height: 150px;
  border-radius: 8px;
  background: black;
  background-size: cover;
}
.cards .cards-div .card-div-a .cards-a:hover {
  filter: brightness(80%) blur(3px);
}
.cards .cards-div .card-div-a .img-card-1 {
  background-image: url(/images/thumbs/Mulan-1.webp);
  background-position: center;
  background-size: cover;
}
.cards .cards-div .card-div-a .img-card-2 {
  background-image: url(/images/thumbs/Strange-1.jpg);
  background-position: center;
  background-size: cover;
}
.cards .cards-div .card-div-a .img-card-3 {
  background-image: url(/images/thumbs/Squid-game-1.webp);
  background-position: center;
  background-size: cover;
}
.cards .cards-div .card-div-a .img-card-4 {
  background-image: url(/images/thumbs/Spider\ man\ -\ 1.jpg_large);
  background-position: center;
  background-size: cover;
}
.cards::after {
  content: "";
  width: 100%;
  height: 1px;
  margin-top: 12px;
  margin-bottom: 36px;
  background: #555;
  display: block;
}

@media screen and (max-width: 700px) {
  div aside {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 124px 32px;
    font-size: 10px;
  }
  div aside .social-media {
    bottom: 10px;
  }
}
@media screen and (max-height: 510px) {
  div aside {
    padding: 30px 16px;
  }
  div main section {
    padding: 30px 16px;
  }
}
@media screen and (min-width: 700px) and (max-height: 650px) {
  div aside {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 124px 16px;
    font-size: 10px;
  }
  div aside .social-media {
    bottom: 10px;
  }
}
@media screen and (max-width: 640px) {
  .cards .cards-div .card-div-a {
    width: 200px;
    height: 250px;
    background: black;
  }
  .cards .cards-div .card-div-a .cards-a {
    height: 100%;
  }
  .cards .cards-div .card-div-a .img-card-1 {
    background-image: url(/images/thumbs/Mulan\ -\ 2.webp);
  }
  .cards .cards-div .card-div-a .img-card-2 {
    background-image: url(/images/thumbs/Doctor-strange\ -\ 2.jpeg);
  }
  .cards .cards-div .card-div-a .img-card-3 {
    background-image: url(/images/thumbs/Squid\ game\ -2.jpg);
  }
  .cards .cards-div .card-div-a .img-card-4 {
    background-image: url(/images/thumbs/Spider\ man\ -\ 2.jpg);
  }
}
div main section .button-default a {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background: green;
}/*# sourceMappingURL=main.css.map */