@import '_global.scss';
@import '_container.scss';
@import '_cards.scss';
@import '_responsivity.scss';


%display-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background: green;
}